# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra
*.o
*.out
.idea/
cmake-build-debug/
build/
CMakeFiles/
*.cmake
CMakeCache.txt
log.txt
Makefile
ssd_simulator
.vscode/settings.json
.vscode/launch.json
ssdtrace-00
ssdtrace-00-00
